# DataFrames

Welcome to the "DataFrames" unit in the Python Academy! In this notebook, you will learn:
  - Pandas
  - Data Structures (Series, DataFrames)
  - Basic pandas Functionality
  - Advanced pandas Functionality

## Pandas

<img src="media/pandas.jpg" alt="Photo by Peter Burdon on Unsplash" title="Pandas are clumsy, much like Data Scientists" width="250" />

Pandas is a fundamental package for **analysis and manipulation of tabular data** in Python. Similar to spreadsheets (e.g. Excel) and databases (e.g.SQL), tables in Pandas are comprised of rows and columns which form a `DataFrame`. Individually, a 1-dimensional row or column is called a `Series`.

Pandas is a *de facto* tool for manipulating data with Python. It is fast, enables reshaping/pivoting, allows to merge/join datasets and aggregate data with groupby operations, supports time series functionality, and (most of all) is widely supported online (many tutorials and stack overflow answers to guide your journey).

*We import the `pandas` as a short name `pd`, which is not required but it's standard. This just means we can use stuff from pandas with a shorter version `pd.{something}` instead of `pandas.{something}`.*

In [1]:
import pandas as pd       # make pandas package available in your kernel.

## Data Structures
Pandas has two main structures of data: Series and DataFrames.

**Series** are one-dimensional arrays of data of the same type. More info on [Pandas Series docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

<img src=media/pd-series.png />

A **DataFrame** is a two-dimensional, tabular structure that can be seen as a container of Series. But you may also have a DataFrame as storage for a one-dimensional array (we will get there eventually). More info in [Pandas DataFrame docs](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html)

<img src=media/pd-dataframe.png />

### Series

**Series** are one-dimensional arrays of data of the same type.

In [ ]:
# pd.Series
ages = pd.Series([45, 20, 60, 47], name='age')
ages

We can see the Series contains 4 elements (remember Python has 0-indexing), and they are of the same dtype int64 (aka integers).

### Indexing on Series

Indexing is a **labelling that allow us to locate data points more easily**.

Our original `ages` Series contains a bunch of numbers in the left (0, 1, 2, 3). Those values represent the index, which is used (among other things) for selecting. By default, if no index is provided pandas will create one from 0. Alternatively, you can provide your own index.

In [ ]:
ages = pd.Series([45, 20, 60, 47], index=["Jacob", "Kimbra", "Daniel", "Tori"])
ages

<div class="alert alert-success">
    ðŸ§  Similar to the <i>dict</i> data type, a Series specific value can be returned by the corresponding index value. 
</div>

In [ ]:
ages["Jacob"]

In [ ]:
# Lab - Dict as a Series
# To further your skills with Series, let's try to create the same indexed `ages` Series, but constructing from a `dict` instead

### DataFrames

A **DataFrame** is a two-dimensional, tabular-like structure of potentially heterogenous tabular data. Similar to Excel spreadsheets, you can think about DataFrames as the collection of rows and columns. Alternatively, DataFrame can be understood as a collection of Series.

In [ ]:
band = pd.DataFrame([ 
    [45, 20, 60, 47], 
    ["drums", "piano", "guitar", "bass"] 
])
band

The band `DataFrame` is being constructed as a list of lists (notice the `[]` brackets), where each list is interpreted as a row of values. To be more explicit, we can provide the list of names for each column and/or row.

In [4]:
band = pd.DataFrame([ 
    [45, 20, 60, 47], 
    ["drums", "piano", "guitar", "bass"] ], 
    columns=["Jacob", "Kimbra", "Daniel", "Tori"], 
    index=["Age", "Skill"]
)
band

       Jacob Kimbra  Daniel  Tori
Age       45     20      60    47
Skill  drums  piano  guitar  bass

In [ ]:
simple = pd.DataFrame([20, 24, 21])
simple

As mentioned before, DataFrames can also be used for one-dimensional data, such as the simple list we provide above. But this doesn't mean we can't extend it afterwards to contain additional rows and/or columns, as DataFrames are mutable in shape.

### Indexing on DataFrames

Additionally to the **index** used for Series, DataFrames can also be indexed by **columns**.

#### Column Indexing

You can select a specific column using:
  - bracket notation `dataframe[column_name]`, preferred;
  - dot notation `dataframe.column_name` (not advisable unless all column names are standardized and without blank spaces).

In [9]:
# column indexing
band["Jacob"]
band.Jacob

# multiple column indexing
# To select multiple columns, you can provide use bracket notation with a list of the column names.
band[ ["Jacob", "Tori"] ]

       Jacob  Tori
Age       45    47
Skill  drums  bass

#### Row Indexing

For selecting rows, we can:
  - Select by index labels (`loc`)
  - Select by index position (`iloc`)

In [10]:
# loc, iloc
band.loc["Age"]         # select the "Age" row from index
band.iloc[1]            # select the 2nd row from index

Jacob      drums
Kimbra     piano
Daniel    guitar
Tori        bass
Name: Skill, dtype: object

#### Multi-Axis Indexing

We can use `loc` and `iloc` combine both column and row indexing!

In [13]:
# multi-axis loc, iloc
band.loc["Age", "Kimbra"]           # how old is Kimbra?
band.iloc[1, 2]                     # 2nd column for Skill, 3rd member for Daniel

'guitar'

### Adding Rows & Columns

#### Adding or replacing a Row

The same `.loc`  can be used to add a new row or updating if the index already exists.

In [ ]:
band.loc["Genre"] = ["jazz", "pop", "rock", "metal"]
band

#### Adding or replacing a Column

Similarly, if we use the indexing methods for columns (dot or square bracket notation), we can either add a column or replace the existing values.

In [ ]:
band["Miles"] = [84, "trumpet", "freejazz"]
band

### Removing Rows & Columns

To remove data from your DataFrame, we can use the `drop()` method.

In [ ]:
# drop 
band.drop(labels="Skill")           # drop rows
band.drop(columns="Daniel")

Notice that **drop by default doesn't change the original DataFrame**. After we've dropped both "Skill" row and the "Daniel" column, the `band` DataFrame still contains the same data as before. This is useful to use data after processing, instead of the original variable. To really remove those rows/columns, you can either use the `inplace` argument or assign the result to the same variable.

In [ ]:
# drop 
# band.drop(columns="Daniel", inplace=True)         # using the inplace argument
# band = band.drop(columns="Daniel")                # using variable reassignment

## Basic Functionality

Pandas shares common methods between Series and DataFrames to provide similar basic functionalities:

  - A data summary is provided with `.describe()` or `.info()`
  - Dimensionality is provided with `.shape`
  - The data types can be checked with `.dtype` (Series) or `.dtypes` (DataFrame)
  - The axis labels are provided with `.index` or `.columns` (DataFrame only)
  - The underlying data can be accessed with `.values`, `.array` and `.to_numpy()`
  - Preview the first `.head()` or last elements `.tail()`

## Advanced Functionality

In addition to the basic functionalities, you can also:
  - Switch rows to columns (and reverse) ordering with `df.T`
  - `df.mask` to replace values when a condition is true
  - `df.where` to replace value when a condition is false
  - `df.reset_index()` to reset the index to default
  - `df.set_index()` to choose a new column as index
  - Drop the missing values with `df.dropna()`
  - Subset data on condition with `df[ df.column_name == 'value' ]`
  - Subset data on multiple conditions `df[ (df.colA == a_value) & (df.colB == b_value)]`. Notice the parenthesis `()` encapsulating the individual conditions and the ampersand `&` acting as an AND operator (both conditions must be met). Alternatively, you can use the vertical bar `|` as an OR operator (at least one of the conditions must be met).


This is not the complete functionality. Pandas has a lot more to offer, which we'll see further down the road.

## Recap

Congratulations, you made it all the way through the first unit of Pandas and DataFrames! This package will By the end of this notebook, you should have a clear idea of:
  1. Pandas being more than just fluffy animals;
  2. Differences between Series and DataFrames;
  3. Selecting data by row/column in a DataFrame;
  4. Adding/removing/updating data by row/column in a DataFrame;
  5. Basic and Advanced Functionality.